/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#select-button {
    width: 20% !important;
}
#select-box {
    width: 80% !important;
}
/* @group Base */
.chosen-container {
    width: 80% !important;
}
#select-button {
    float: right !important;
    margin: 10px 0px 0px 10px !important;
}